.header {
    width: 100%;
  text-align: center;
  background: #ad8e13;
  padding: 15px;
  //display: flex;
  //justify-content: space-between;
}

.chatName {
  margin: 0;
}

.userName {
  justify-self: flex-end;
}