.participantContainer {

  display:flex;
  flex-direction: column;
  align-content: space-between;
  overflow: auto;
  background: #d6ce7e;
  margin: 0 20px 0 20px;
  height: 100%;
}

.wrapper {
  width: 30%;
  background: #ad8e13;

}

.messageWrapper {
  display: flex;
}

.right {
  justify-content: flex-end;
}

.noUsers {
  text-align: center;
  vertical-align: center;
}