.inputPanel {
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ad8e13;
  padding: 10px 10px 10px 20px;
}

fieldset {
  background: white;
  //border-radius: 5px;
}

.textField {
  width: 95%;
  margin: 0;
  color: white;
}

.icon {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:before {
  display: block;
  padding-top: 100%;
}